/******************* container erase*/
.container{
    margin: auto;
    background-color: rgb(85, 66, 57);
}
/******************* top to be erased*/

.floater-section{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix{
    clear: both;
}
/******************* Small Scheen*/
@media (min-width:450px){
    .container{
        width:440px;
    }


    .small-width-25{
        width: 25%;
    }
    .small-width-33{
        width: 33.3333%;
    }
    .small-width-50{
        width: 50%;
    }
    .small-width-100{
        width: 100%;
    }
}
/******************* Medium Scheen*/
@media (min-width: 769px){
    .container{
        width:760px;
    }
    nav .navbar li{
        display: inline-block;
    }


    .medium-width-25{
        width: 25%;
    }
    .medium-width-33{
        width: 33.3333%;
    }
    .medium-width-50{
        width: 50%;
    }
    .medium-width-100{
        width: 100%;
    }

}
/******************* Large Scheen*/
@media (min-width:992px){
    .container{
        width:100%;
    }
    nav.navbar{
        background-color: rgb(255, 208, 0);
        width: 100%;
        padding: 20px 0px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(255, 196, 0);
        }
        li {
        float: left;
        border-right:2px solid rgb(255, 174, 0);
        }
        li:last-child {
        border-right: none;
        }
        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }


    .large-width-25{
        width: 25%;
    }
    .large-width-33{
        width: 33.3333%;
    }
    .large-width-50{
        width: 50%;
    }
    .large-width-100{
        width: 100%;
    }
}