@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.drkgrey {
    background-color:  rgb(56, 56, 56);;
}

.bigbanner { 
    background: url("assets/images/img2.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: plum;
}

.content {
    position: relative;
}

#vertCenter1,
#vertCenter2,
#vertHorizCenter1 {
    height: 851px;
}

#vertHorizCenter2 {
    height: 830px;
}

#vertCenter1 img {
    position: absolute;
    height: 100px; /* because we need to calculate the margin */
    margin-top: -50px;
    top: 50%;
    display: block;
}

#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px; /* MARGINS affect the centering in this method! */
}
h2{
    color: White;
}
.artists{
    text-align: center;
    color: bisque;
    font-family: 'Fjalla One', sans-serif;

}
#vertHorizCenter1 h2 {
    position: absolute;
    top: 60%;
    left: 50%;
    padding: 35px;
    font-family: 'Fjalla One', sans-serif;

    /* Half the width accounting for padding and border */
    margin-left: -159px;
  
    
    /* Half the height accounting for padding and border */
    margin-top: -44px;
    height: 28px;
    
}

#vertHorizCenter2 p {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    margin: 0px;
    text-align: justify;
    font-size: 25px;
    font-family: 'quicksand', cursive;
    color: white;
}

    /* Content Start */
/* START CONTACT*/
    .message{
    font-family: 'Sedgwick Ave', cursive;
    color: rgb(158, 12, 12);
    }
    .general{
    font-family: 'Sedgwick Ave', cursive;
    }
    
    .container2 {
    margin: auto;
    font-family: 'Questrial', sans-serif;
    width: 600px;
    background-color: white;
    position: relative;
    top: -115px;
    padding: 236px 1px 1px;
    left: 25px;
    border: solid black 7px 0px 0px 0px;
    }
    .message, .general{
        color: red;
        font-family: 'Teko', sans-serif;
    }
    .form input #Additionalinfo{
    resize: vertical;
    }
    .form-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 6px 0px 6px 0px;
    }
    .label {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    }
    fieldset {
    border: 0px;
    padding: 0px;
    margin-bottom: 20px;
    }
    input[type="color"]{
    min-height: 40px;
    }
    /*END CONTACT*/