@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
/*IMAGE Starts*/
.image-content {
    padding: 0px 0px;
    /*border-bottom: 2px solid purple;*/
    position: relative;
}
.image-content .img-container2 {
    min-height: 160px;
}
.image-content img{
    max-width: 100%;
}
/*IMAGE ENDS*/
/* START CONTACT Promotion*/
    .message{
    font-family: 'Sedgwick Ave', cursive;
    color: rgb(158, 12, 12);
    }
    .general{
    font-family: 'Sedgwick Ave', cursive;
    }
    
    .container2 {
    margin: auto;
    font-family: 'Questrial', sans-serif;
    width: 600px;
    background-color: white;
    position: relative;
    top: -115px;
    padding: 236px 1px 1px;
    left: 25px;
    border: solid black 7px 0px 0px 0px;
    }
    .message, .general{
        color: darkred;
        font-family: 'Teko', sans-serif;
    }
    .form input #Additionalinfo{
    resize: vertical;
    }
    .form-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 6px 0px 6px 0px;
    }
    .label {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    }
    fieldset {
    border: 0px;
    padding: 0px;
    margin-bottom: 20px;
    }
    input[type="color"]{
    min-height: 40px;
    }
    /*END CONTACT Promotion*/
